genai_api_key.txt
maidbot.bat
hashanimeonly.py
hashanimeonly_chatsecurity.py
smartbot.py
bodyguard_anime.bat
chatsecurity_anime.bat
criticbot.bat
ecchimaid.bat
chefbot.bat
chefbot.ini
clarkson.ini
chefbot.ini
einstein.ini
fanenbot.ini
maidbot.ini
partridge.ini
trump.ini
victoria.ini
chefbot.ini
